In [ ]:
import re
import tweepy
import pandas as pd

consumer_key = "uwpn3PFkdU5AnxCwJyNBSBrh7"
consumer_secret = "zlkrvNEh5Qm6qTdQNt25tV3dCGnXwHbR7feADxT2proWgjIqkl"
access_token = "1493833029067829248-xE4jVSMH1aUeqCq9MjDLw8aqmiIXBV"
access_token_secret = "eDBrwYcnm8NNtxhJWaSXYUpTCYQZFUg3vGJOUacB085f6"
 
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, wait_on_rate_limit=True )
 
search_words = "skincare"
new_search = search_words +"-filter:retweets"
 
tweets = tweepy.Cursor(api.search, q=new_search, lang='id').items(2000)
tweets_raw = []
for t in tweets:
  tweets_raw.append(t)

In [ ]:
tweet_df_create = []
for tw in tweets_raw:
  a = tw._json['created_at']
  tweet_df_create.append(a)

tweet_df_text = []
for tw in tweets_raw:
  a = tw._json['text']
  tweet_df_text.append(a)

In [ ]:
df = pd.DataFrame(list(zip(tweet_df_create, tweet_df_text)), columns = ['created_at', 'text'])
df.head()

,created_at,text
0,Wed May 18 12:44:17 +0000 2022,@masmasjawabgt @ShopeeID Mau beli baju ama ski...
1,Wed May 18 12:44:00 +0000 2022,@masmasjawabgt @ShopeeID Done. Klo win pake be...
2,Wed May 18 12:43:21 +0000 2022,JM kuyyy jualn skincare bodycare haircare make...
3,Wed May 18 12:43:17 +0000 2022,@TirtoID Tu 9 ikan cupang yg jd BA skincare In...
4,Wed May 18 12:43:16 +0000 2022,Kerja tuh cari duid aja nggakusah pake cari mu...

In [ ]:
df.to_csv('skincare-04-apr-1.csv', index=False)